*{
    margin: 0;
    padding: 0;
}




main{
    background-color: aqua;
    margin: 0px;
}
.title{
    height: 400px;
    background-color: blueviolet;
    display: flex;
}
.title span{
    color: orangered;
}
.col1{
    margin: auto;
    color: azure;
    font-family: 'Acme', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;

}
.col2 img{
    width: 300px;
    margin-top: 100px;
    
}
#time{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(140, 141, 141);
}
#resume{
    padding: 5px;
    background-color: transparent;
    border: 0.55px rgb(247, 242, 242) solid;
    margin-top: 10px;
    border-radius: 10px;
}
#resume a{
    text-decoration: none;
    color: black;
}

/*----------work--------*/
.work{
    padding: 30px;
    background-color: cadetblue;
    
}
.work h2{
    
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;

}
.work-row2{
    padding-top: 30px;
    display: flex;
}
.work-col1{
    width: 50%;
    text-align: center;
}
.work-col2{
    width: 50%;
    text-align: center;
}
.work-hr{
    display: none;
}
.work-col1-img img{
    width: 55px;
}
/*--------project---------*/
.project{
    background-color: orange;
    padding: 30PX;

}
.project h2{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
}


/*----------education-------------*/
.edu{
    background-color: azure;
    padding: 30px;
}
.edu-row1 h2{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
}

.edu-row2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.edu-col1{
    text-align: center;
}
.edu-col1 h3{
    text-align: center;
}
/*-----------social---------------*/
.social{
    padding: 10px;
    width: 50%;
    justify-content: space-between;
}
.social-title{
    text-align: center;
    margin: 2%;
}
.social-img{
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.social-img img{
        
    
    width: 50px;
  
}

/*---------email / form-----------*/
.email{
    width: 50%;
}
.email form{
    
    
}
.email form{
    
}
.contactinfo{
    display: flex;
}
/*-------footer-----------*/
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
}

@media only screen and (min-width: 200px) and (max-width:767px){
    .title{
        display:grid;
        height:auto;
        
    }
    .col1{
        margin-top: 20px;
        width: 100%;
        display:flexbox;
    }
    .col1 h1, p{
        margin-left: 10%;    }
    #time{
        font-size: 10px;
        margin-top: 10px;
        color: rgb(140, 141, 141);
    }
    #resume{
        margin-left: 10%;
    }
    .col2{
        width: 100%;
        
    }
    .col2 img{
        width: 50%;
        float: right;
        margin-top: 0px;
        margin-right: 10%;

    }
    /*---------work---------*/
    .work{
        padding: 30px;
        background-color: cadetblue;
        
        
    }
    .work-hr{
        display: block;
    }
    .work h2{
        text-align: center;
    }
    .work-row2{
        padding-top: 30px;
        display: block;
    }
    .work-col1{
        margin-top: 10%;
        width: 100%;
        text-align: center;
    }
    .work-col1-img img{
        width: 35px;
    }
    .work-col2{
        margin-top: 10%;
        width: 100%;
        text-align: center;
    }

    /*----------education-------------*/
    .edu{
        background-color: azure;
        padding: 30px;
    }
    .edu-row1 h2{
        text-align: center;
        
    }

    .edu-row2{
        margin-top: 30px;
        display: block;
        grid-template-columns: 1fr 1fr 1fr
    }
    .edu-col1{
        text-align: center;
        margin-top: 5%;
    }
    .edu-col1 h4{
        text-align: center;
        text-decoration:underline rgb(105, 105, 105) 0.5px;
    }
    /*-----------social---------------*/
    .contactinfo{
        display: block;
    }
    .social{
       
        width: auto;
        
    }
    .social-title{
        text-align: center;
        
    }
    .social-img{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .social-img img{
        
        margin-left: auto;
        margin-right: auto;
        width: 30px;
      
    }

}
