.bodyA {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(9, 9, 121, 0) 0%,
    rgba(0, 212, 255, 0.6587885154061625) 100%
  );
}
.bodyA-text {
 font-size: 1rem;
}

@keyframes cursor {
  /* to{
    border-left: 2px solid black;
  } */
  50%{
    border-color: transparent;
  }
}
@keyframes typing {
  
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
  
}
@keyframes words {
  0%,33%{
    content: "Bhaskar Roy";
  }
  34%,67%{
    content: "a Full Stack Web Developer";
  }
  68%,100%{
    content: "a Tech Enthusiast";
  }
  
}

.profile_pic {
  width: 40%;
  display: flex;
  justify-content: end;
}
.profile_pic img {
  width: 80%;
}

/* media query for small screen */
@media screen and (max-width: 600px) {
  .bodyA {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .profile_pic {
    width: 100%;
    padding-top: 50px;
  }
  .profile_pic img {
    width: 50%;
    float: right;
  }
  .bodyA-text {
    position: relative;
    top:8rem;
    /* margin-top: 100px; */
  }
}
