@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lilita+One&family=Shadows+Into+Light&display=swap");
.bodyA {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(9, 9, 121, 0) 0%,
    rgba(0, 212, 255, 0.6587885154061625) 100%
  );

  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      rgba(255, 255, 255, 0.2) 70px
    ),
    repeating-linear-gradient(transparent, transparent);
}
.bodyA-text {
  /* font-family: "Shadows Into Light", cursive; */
  font-family: "Caveat Brush", cursive;
}

@media screen and (min-width: 601px) {
  .bodyA {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bodyA-text {
    font-size: 1rem;
    justify-self: left;
    align-self: center;
  }

  .profile_pic {
    justify-self: center;
    /* width: 40%; */
    display: flex;
    justify-content: center;
  }
  .profile_pic img {
    width: 70%;
  }
}
/* media query for small screen */
@media screen and (max-width: 600px) {
  .bodyA {
    display: flex;
    flex-direction: column;
  }
  .bodyA-text {
    height: 100px;
    padding: 20px;
  }

  .profile_pic {
    /* justify-self: center; */
    /* width: 40%; */
    display: flex;
    justify-content: end;
  }
  .profile_pic img {
    width: 50%;
  }
}
