.navbar {
  background-color: #686de0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar_pc ul {
  list-style: none;
  display: flex;
  margin-right: 20px; /* Adjusted margin */
}

.navbar_pc ul li {
  transition: all 0.3s;
}

.navbar_pc ul li a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  transition: all 100ms;
}
.navbar_pc ul li a:hover {
  cursor: pointer;
  color: #27296d;
  border-bottom: 2px solid whitesmoke;
  /* border-radius: 1rem; */
  /* box-shadow: 0px 0px 5px greenyellow; */
}
.navbar_sm {
  display: none;
}

.navbar_sm_menu {
  display: none;
}
.logo {
  background-color: transparent;
  border-radius: 0.5rem;
  margin-left: 2rem;
  color: white;
  padding: 0.3rem;
  box-shadow: 0 0 5px gainsboro;
}
.logo h3 a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .navbar_pc {
    display: none;
  }

  .navbar_sm {
    display: block;
    margin-right: 2rem;
  }
  .navbar_sm_menu {
    display: block;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 10;
    height: calc(100vh - 50px);
    right: 0;
    transition: transform 0.3s ease-in-out 0.1s; /* Set initial transition properties */
    transform: translateX(0);
  }

  .navbar_sm_menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
  }

  .navbar_sm_menu a {
    padding: 1rem 0;
    text-decoration: none;
  }

  .nav-show {
    transform: translateX(0);
  }

  .nav-hide {
    transform: translateX(100%);
  }
}
