.ErrorPage{
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ErrorPage img{
    max-width: 500px;
}
.ErrorPage-text1{
    font-size: 5rem;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   background-image: url(https://plus.unsplash.com/premium_photo-1666724568420-e282bafa8d2c?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)}
.ErrorPage-text2{
    font-size: 2rem;
}
.notAvailable{
    color: red;
}