.popup_navbar {
    top: 50px;
  background-color: rgba(159, 220, 222, 0.616);
  position: fixed;
  
  width: 50%;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease-in-out; /* Added transition property */
}
.popup_navbar.active {
  right: 0;
}
.popup_navbar a{
    text-decoration: none;
    text-align: center;

}