.project-item {
  box-shadow: 0 0 5px gray;
  border-radius: 1rem;
  min-width: 250px;
  max-width: 350px;
  margin: 2.5rem;
  height: fit-content;
  transition: all ease 0.3s;
}

.project-item h3 {
  padding: 0 2rem;
  text-decoration: underline 2px solid orangered;
}

.project-item img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
}
.project-item p {
  padding: 0 2rem;
  height: 150px;
  overflow-y: auto;
}
.project-item button {
  background: white;
  width: 100px;
  float: right;
  height: 25px;
  border-radius: 1rem 0 1rem 0;
  word-spacing: 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.project-item button:hover {
  cursor: pointer;
}

.project {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title-text {
  text-align: center;
}
.highlight {
  background-color: rgba(255, 255, 0, 0.322);
  /* color: black; */
}
