.workdomain-main {
  /* display: grid;
  grid-gap: 2rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: anime both 1s;

  opacity: 1;
  background-image: radial-gradient(white 0.1px, #0d132a 0.8px);
  background-size: 50px 50px;
}
/* @keyframes anime{
  0%{
transform:scale(0.7)
  }100%{
transform: scale(1)
  }
} */

.center-img {
  position: relative;
  /* height: 10rem; */
  width: 8rem;
  /* aspect-ratio: 3/2; */
  object-fit: contain;
  /* mix-blend-mode: color-dodge; */
}
.workdomain-icon {
  display: flex;
  flex-wrap: nowrap;
}
.workdomain-icon img {
  width: 2.5rem;
}
.workdomain-item {
  width: 20rem;
  background: whitesmoke;
  color: black;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease; /* Added background-color to transition */
}

.workdomain-item:hover {
  transform: scale(1.05); /* Slight zoom-in effect */
  box-shadow: 0px 0px 15px 5px rgba(2, 255, 82, 0.3); /* Shadow glow on hover */
  background-color: rgb(152, 236, 195);
}

.workdomain-item ul {
  /* margin-left: 2rem; */
  padding: 1rem 0;
}
.workdomain-item p {
  padding: 1rem;
  color: white;
  z-index: 1;
}
.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.background-img {
  position: absolute;
  width: 200px;
  /* min-width: 100px; */
  height: 40px;
  margin-top: 0.35rem;
  /* z-index: -1; */
}

.workdomain-item:nth-child(even) {
  border-bottom: 5px solid rgba(0, 128, 0, 0.292);
}
.workdomain-item:nth-child(odd) {
  border-bottom: 5px solid rgba(255, 68, 0, 0.24);
}

@media screen and (max-width: 600px) {
  .workdomain-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workdomain-item {
    width: 80%;
    margin: 1rem 0;
    padding: 0;
  }
  .background-img {
    width: 100px;
  }
  .workdomain-icon img {
    width: 1.5rem;
  }
}
